[submodule "lb-config"]
	path = lb-config
	url = https://github.com/BrDeb/lb_config_brdeb
[submodule "config/includes.chroot/usr/share/backgrounds"]
	path = config/includes.chroot/usr/share/backgrounds
	url = https://github.com/BrDeb/usr_share_backgrounds
[submodule "config/includes.installer"]
	path = config/includes.installer
	url = https://github.com/BrDeb/includes.installer/
[submodule "config/package-lists"]
	path = config/package-lists
	url = https://github.com/BrDeb/config_package-lists
